# Telegram Bot Settings
TELEGRAM_BOT_TOKEN=your_telegram_bot_token
WEBHOOK_SECRET=your_secret_token
SUMMARY_CHAT_ID=your_summary_chat_id

# Google Cloud Settings (for Topics/Threads)
USE_MESSAGE_THREAD_ID=false
DEFAULT_MESSAGE_THREAD_ID=
IGNORE_THREAD_IDS=12345,67890


# Google Sheets Settings
GOOGLE_SHEET_ID=your_google_sheet_id
GOOGLE_SERVICE_ACCOUNT_EMAIL=your_service_account_email
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"

# Server Settings
PORT=8080
